.skills-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 15px;
}

.skills-item {
  padding: 0.2rem 0.6rem;
  margin: 0.4rem;
  border-radius: 0.8rem;
  background-color: #231e1a;

  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 300;
  color: #9e540a;
  transition: ease-in 0.4s;
}

.skills-item:hover {
  animation: headShake;
  animation-duration: 2s;
}
