@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #121212;
  font-family: "Montserrat", sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1366px;
}

.section-title {
  color: #cc6600;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 600;
  padding: 5rem 0rem 2rem 0rem;
}

.background-red {
  background-color: red;
}

.background-blue {
  background-color: blue;
}
